<div class="container mx-auto max-w-7xl mt-8 px-8 py-8">
  <h2 class="text-3xl font-light text-gray-900 mb-4">Publications</h2>

    <!-- Publication Entry -->
    <div class="flex flex-col md:flex-row bg-white mt-8">
      <!-- Teaser Image -->
      <div class="md:w-1/4 mt-1">
        <img src="static/assets/pubs/teasers/MobilePoser.gif" class="object-contain mx-auto" alt="MobilePoser Teaser">
      </div>
  
      <!-- Pub. Description -->
      <div class="md:w-2/3 md:pl-6">
        <h2 class="text-xl font-semibold text-gray-900 md:mt-0">MobilePoser: Real-Time Full-Body Pose Estimation and 3D Human Translation from IMUs in Mobile Consumer Devices</h2>
        <div class="uppercase tracking-wide text-sm mt-1"><span class="text-gray-600 font-bold">UIST '24:</span> <span class="text-red-800 font-medium">ACM Symposium on User Interface Software and Technology</span></div>
        <p class="mt-2 text-gray-600"><span class="font-semibold">Vasco Xu</span>, Chenfeng Gao, Henry Hoffmann, Karan Ahuja</p>
        <!-- Links -->
        <div class="mt-2">
          <a href="https://dl.acm.org/doi/10.1145/3654777.3676461" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">paper</span> ]</a>
          <a href="https://www.youtube.com/watch?v=cN75eFHdCyE&ab_channel=SPICELab" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">video</span> ]</a>
          <a href="https://github.com/SPICExLAB/MobilePoser" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">code</span> ]</a>
        </div>
      </div>
    </div>
  
    <!-- Divider Line -->
    <hr class="my-8 border-gray-200" />
  
  <!-- Publication Entry -->
  <div class="flex flex-col md:flex-row bg-white mt-8">
    <!-- Teaser Image -->
    <div class="md:w-1/4 mt-1">
      <img src="static/assets/pubs/teasers/Xs.gif" class="object-contain mx-auto" alt="Xs Teaser">
    </div>

    <!-- Pub. Description -->
    <div class="md:w-2/3 md:pl-6">
      <h2 class="text-xl font-semibold text-gray-900 md:mt-0">Xs: Interactive Scissor Mechanisms as Portable and Customizable Shape-Changing Interfaces</h2>
      <div class="uppercase tracking-wide text-sm mt-1"><span class="text-gray-600 font-bold">TEI '23:</span> <span class="text-red-800 font-medium">Proceedings of the Seventeenth International Conference on Tangible, Embedded, and Embodied Interaction</span></div>
      <p class="mt-2 text-gray-600"><span class="font-semibold">Vasco Xu</span>, Ken Nakagaki</p>
      <!-- Links -->
      <div class="mt-2">
        <a href="https://dl.acm.org/doi/abs/10.1145/3569009.3572737" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">paper</span> ]</a>
        <a href="https://www.youtube.com/watch?v=9eFHDUBVYdI&ab_channel=AxLab-ActuatedExperienceLab" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">video</span> ]</a>
      </div>
    </div>
  </div>

  <!-- Divider Line -->
  <hr class="my-8 border-gray-200" />

  <!-- Publication Entry -->
  <div class="flex flex-col md:flex-row bg-white mt-8">
    <!-- Teaser Image -->
    <div class="md:w-1/4">
      <img src="static/assets/pubs/teasers/LUSH.png" class="object-contain mx-auto" alt="publication visual">
    </div>

    <!-- Pub. Description -->
    <div class="md:w-2/3 md:pl-6">
      <h2 class="text-xl font-semibold text-gray-900 md:mt-0">LUSH: Lightweight Framework for User-level Scheduling in Heterogeneous Multicores</h2>
      <div class="uppercase tracking-wide text-sm mt-1"><span class="text-gray-600 font-bold">MCSoC '21:</span> <span class="text-red-800 font-medium">International Symposium on Embedded Multicore/Many-core Systems-on-Chip</span></div>
      <p class="mt-2 text-gray-600"><span class="font-semibold">Vasco Xu</span>, Liam White McShane, Daniel Mossé</p>
      <!-- Links -->
      <div class="mt-2">
        <a href="https://ieeexplore.ieee.org/abstract/document/9691943" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">paper</span> ]</a>
      </div>
    </div>
  </div>  

</div>
