<div class="container mx-auto max-w-7xl mt-8 px-8 py-8">
  <h2 class="text-3xl font-light text-gray-900 mb-4">Theses</h2>
  <hr class="my-1 border-gray-200" />
  
  <!-- Thesis Entry -->
  <div class="flex flex-col md:flex-row bg-white mt-8">
    <!-- Thesis Description  -->
    <div class="md:w-2/3">
      <h2 class="text-xl font-semibold text-gray-900 md:mt-0">MAZE: A Secure Cloud Storage Service using Moving Target Defense and Secure Shell Protocol (SSH) Tunneling</h2>
      <div class="uppercase tracking-wide text-sm mt-1"><span class="text-gray-600 font-bold">B.Phil Thesis '20</span> | <span class="text-red-800 font-medium">University of Pittsburgh</span></div>
      <p class="mt-2 text-gray-600"><span class="font-semibold">Vasco Xu</span>, Sherif Khattab</p>
      <!-- Links -->
      <div class="mt-2">
        <a href="https://d-scholarship.pitt.edu/39914/" target="_blank" class="text-pink-600 hover:text-gray-500 mr-2">[ <span class="hover:underline hover:underline-offset-4">paper</span> ]</a>
      </div>
    </div>
  </div>
</div>
